API_BASE_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
GROQ_API_KEY=
DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_NAME}
TAVILY_API_KEY=
RECORD_MANAGER_DB_PATH = "sqlite:///vectordb/record_manager_cache.sql"


